<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vizitkovník</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
<div class="detail">
    <form class="vizitka" th:action="@{/nova}" method="post">
        <div class="row">
            <input type="hidden" th:field="${vizitka.id}">
            <label for="celeJmeno">Jméno</label>
            <input type="text" th:field="${vizitka.celeJmeno}" id="celeJmeno" name="celeJmeno" maxlength="100"
                   required/>
        </div>
        <div class="row">
            <label for="firma">Firma</label>
            <input type="text" th:field="${vizitka.firma}" id="firma" name="firma" maxlength="100" required/>
        </div>
        <div class="row">
            <label for="ulice">Ulice a čísla</label>
            <input type="text" th:field="${vizitka.ulice}" id="ulice" name="ulice" maxlength="100" required/>
        </div>
        <div class="row">
            <label for="obec">Obec</label>
            <input type="text" th:field="${vizitka.obec}" id="obec" name="obec" maxlength="100" required/>
        </div>
        <div class="row">
            <label for="psc">PSČ</label>
            <input type="text" th:field="${vizitka.psc}" id="psc" name="psc" minlength="5" maxlength="5"
                   pattern="[0-9]{5}" required/>
        </div>
        <div class="row">
            <label for="email">E-mail <small>(volitelný)</small></label>
            <input type="email" th:field="${vizitka.email}" id="email" name="email" maxlength="100"/>
        </div>
        <div class="row">
            <label for="telefon">Telefon <small>(volitelný)</small></label>
            <input type="tel" th:field="${vizitka.telefon}" id="telefon" name="telefon" maxlength="100"/>
        </div>
        <div class="row">
            <label for="web">Web <small>(volitelný)</small></label>
            <input type="url" th:field="${vizitka.web}" id="web" name="web" maxlength="100"/>
        </div>

        <div class="form-controls">
            <button th:if="${vizitka.id} == null" type="submit">Uložit</button>
            <button th:if="${vizitka.id} != null" type="submit" name="akce" value="aktualizace">Aktualizovat</button>
        </div>
        <nav>
            <a href="/">◂ zpět na seznam</a>
        </nav>
    </form>
</div>


</body>
</html>
